* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    text-decoration: none;
    top: 0;
    z-index: 999;
}

.navbar_item {
    display: flex;
    font: 1em sans-serif;
    color: aqua;
    justify-content: center;
    padding: 10px;
    margin-right: 300px;
    margin-left: 150px;
    display: inline-block;
    margin-top: 90px;
    text-decoration: none;
}
.navbar_link:hover{
    color: rgb(253, 253, 253);
}
.navbar_link:visited{
    color: aquamarine;
    text-decoration: none;
}
 body {
    position: relative;
    background-image: url("wp9505321.png");
    height: 100%;
   background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    position: fixed;
    color: rgb(59, 188, 235);
    text-shadow: 3px 3px green;
    font-family: 'Dongle', sans-serif;
    margin-top: 330px;
    margin-left: 610px;
    padding-right: 10px;
    padding-bottom: 50px;
}


